// Variables
$sidebar-width: 360px;
$keyboard-height: 200px;

.home-container
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .sidebar-area-container
    {
        position: absolute;
        right: 0;

        height: 100%;

        background: white;
        border-left: $gray 1px solid;
    }
    .main-area-container
    {
        position: absolute;
        left: 0;

        height: calc(100% - #{$keyboard-height});

        background: $brand-primary;
    }
    .keyboard-area-container
    {
        position: absolute;
        bottom: 0;

        height: $keyboard-height;

        background: white;
        border-top: $gray 1px solid;
    }
}

// Responsive layout
$screen-width-sm: 768px;
$screen-width-md: 940px;
$screen-width-lg: 1200px;
$screen-height-sm: 768px;
$screen-height-md: 768px;
$screen-height-lg: 768px;

// Extra Small Onwards
@media (min-width: 0)
{
    .sidebar-area-container
    {
        display: none;
    }
    .main-area-container
    {
        width: 100%;
    }
    .keyboard-area-container
    {
        width: 100%;
    }
}
// Small Onwards
@media (min-width: $screen-width-sm)
{
    $temp-sidebar-width: $sidebar-width * (0.70);

    .sidebar-area-container
    {
        display: block;
        width: $temp-sidebar-width;
    }
    .main-area-container
    {
        width: calc(100% - #{$temp-sidebar-width});
    }
    .keyboard-area-container
    {
        width: calc(100% - #{$temp-sidebar-width});
    }
}
// Medium Onwards
@media (min-width: $screen-width-md)
{
    $temp-sidebar-width: $sidebar-width * (0.85);

    .sidebar-area-container
    {
        display: block;
        width: $temp-sidebar-width;
    }
    .main-area-container
    {
        width: calc(100% - #{$temp-sidebar-width});
    }
    .keyboard-area-container
    {
        width: calc(100% - #{$temp-sidebar-width});
    }
}
// Large Onwards
@media (min-width: $screen-width-lg)
{
    $temp-sidebar-width: $sidebar-width * (1.0);

    .sidebar-area-container
    {
        display: block;
        width: $temp-sidebar-width;
    }
    .main-area-container
    {
        width: calc(100% - #{$temp-sidebar-width});
    }
    .keyboard-area-container
    {
        width: calc(100% - #{$temp-sidebar-width});
    }
}