/* Theme variables */

/* Colors */
$gray-base:             #090909;
$gray-darker:           lighten($gray-base, 12.0%); // #222
$gray-dark:             lighten($gray-base, 24%);   // #333
$gray:                  lighten($gray-base, 40.0%); // #555
$gray-light:            lighten($gray-base, 66%);   // #999
$gray-lighter:          lighten($gray-base, 88.0%); // #eee

$brand-primary:         #6fa6b4;
$brand-success:         #3FAD46;
$brand-info:            #9c5bde;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$state-success-text:    darken($brand-success, 20%);
$state-success-bg:      lighten($brand-success, 50%);
$state-success-border:  $state-success-text;

$state-info-text:       darken($brand-info, 20%);
$state-info-bg:         lighten($brand-info, 35%);
$state-info-border:     $state-info-text;

$state-warning-text:    darken($brand-warning, 20%);
$state-warning-bg:      lighten($brand-warning, 30%);
$state-warning-border:  $state-warning-text;

$state-danger-text:     darken($brand-danger, 20%);
$state-danger-bg:       lighten($brand-danger, 40%);
$state-danger-border:   $state-danger-text;


/* Font Stuff */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Handlee:400,700");

$font-family-sans-serif: "Handlee", Calibri, Candara, Arial, sans-serif;
$font-family-serif: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

$font-family-base:        $font-family-serif;
$headings-font-family:    $font-family-sans-serif;

//$font-size-base: 14px;

$fa-font-path: "~font-awesome/fonts/";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$text-shadow: transparentize($gray-base, 0.9) 0 0 1px;

/* Nav-Bar */
$navbar-inverse-bg: $brand-primary;

$navbar-inverse-brand-color: $gray-lighter;
$navbar-inverse-brand-hover-color: white;

$navbar-inverse-link-color: $gray-lighter;
$navbar-inverse-link-hover-color: white;
$navbar-inverse-link-active-color: white;